<div id="supported">
  <span id="twitter" class="tag is-primary is-light">Twitter</span>
  <span id="instagram" class="tag is-white is-light">Instagram</span>
  <span id="facebook" class="tag is-link is-light">Facebook</span>
  <span id="vimeo"  class="tag is-info is-light">Vimeo</span>
  <span id="naver" class="tag is-success is-light">Naver</span>
  <span id="kakao" class="tag is-warning is-light">Kakao</span>
  <span id="youtube" class="tag is-danger is-light">Youtube</span>
</div>